<!DOCTYPE html>
<html>
<head>
	<title>Oura Daily Log</title>
	<link rel="stylesheet" href="/Oura/stylesheet.css">
</head>
<body>
Hello

<p><%= data %></p>

<script src="/Oura/index.js"></script>
</body>
</html>