body {
	background-color: #222222;
	color: #eeeeee;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	padding: 15vh 0 0 10vw;
}

h1 {
	margin: 0;
	font-size: 8vh;
}

h3 {
	margin: 0;
	font-size: 3vh;
}

.name {
	display: inline-block;
	width: 30vw;
	padding-bottom: 2vh;
	border-bottom: 2px solid #e0e0e0;
}

.hello {
	color: #aaaab0;
}

.titles {
	color: #ff3a3a;
}