body {
	background-color: #222222;
	color: #eeeeee;
	font-family: 'Ubuntu', sans-serif;
}
.container {
	padding: 5vh 10vw 15vh 10vw;
}
.heading-container {
	position: fixed;
	z-index: -100;
	top: 0;
	background-color: #222222;
	padding: 15vh 10vw 15vw 10vw;
	width: 100%;
}
.heading {
	width: 32vw;
}
h1 {
	margin: 0;
	font-size: 8vh;
}
h3 {
	margin: 0;
	font-size: 3vh;
}
.name {
	padding-bottom: 2vh;
	border-bottom: 2px solid #e0e0e0;
}
.hello {
	color: #aaaab0;
}
.titles {
	color: #ff3a3a;
}

.projects-tab {
	padding-top: 2vh;
	height: 8vh;
	text-align: center;
	font-size: 4.5vh;
	border-top: 3px solid #404040;
	color: #202020;
}
.caret {
	position: absolute;
	margin: 0.25vh 0 0 1vw;
	height: 5vh;
	width: 5vh;
}
.projects {
	z-index: 15;
	margin-top: 90vh;
	background-color: #f0f0f0;
}
.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.project-item {
	height: 35vh;
	width: 25vw;
	margin-bottom: 5vh;
	background-color: #ededed;
	background-position: top;
	background-repeat: no-repeat;
	background-size: 100% 70%;
	border: 3px solid #eaeaea;
	border-radius: 5px;
	transition: border .3s;
}
.project-item:hover {
	border: 3px solid #4444ff;
	transition: border .25s;
}
.img-space {
	height: 14.6vh;
	width: 100%;
	background-color: rgba(255,255,255,.75);
	color: #2a2ac0;
	font-size: 3vh;
	font-weight: bold;
	padding-top: 10vh;
	text-align: center;
	opacity: 0;
	transition: opacity .25s;
}
.img-space:hover {
	opacity: 1;
	transition: opacity .25s;
}
.project-heading {
	display: flex;
	justify-content: space-between;
	padding: 0 0.75vw 0 0.75vw;
}
.project-heading-title {
	color: #1a1a1a;
	font-size: 3vh;
	font-weight: bold;
}
.project-heading-lang {
	color: #3a3a90;
	font-size: 1.75vh;
	text-align: justify;
	max-width: 60%;
}
.lang-short {
	max-width: 56%;
}
.project-description {
	padding: 1vh 0.75vw 1vh 0.75vw;
	color: #202020;
	font-size: 2vh;
}

.snappir-img {
	background-image: url("images/snappir.jpg");
}
.countries-img {
	background-image: url("images/countries.jpg");
}
.color-game-img {
	background-image: url("images/color-game.jpg");
}
.empire-img {
	background-image: url("images/empire.jpg");
}
.horizon-img {
	background-image: url("images/horizon.jpg");
}
.tanks-img {
	background-image: url("images/tanks.jpg");
}