<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Project Boost</title>
    <link rel="shortcut icon" href="/assets/PBMTemplateData/favicon.ico">
    <link rel="stylesheet" href="/assets/PBMTemplateData/style.css">
    <script src="/assets/PBMTemplateData/UnityProgress.js"></script>
    <script src="/PBMBuild/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/PBMBuild/Web.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <h3>Controls:</h3>
    <h5>RIGHT SCREEN - Thrust</h5>
    <h5>LEFT SCREEN - Rotate Left</h5>
    <h5>MIDDLE SCREEN - Rotate Right</h5>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Project Boost</div>
      </div>
    </div>
  </body>
</html>
