<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | Tanks</title>
    <link rel="shortcut icon" href="/assets/TemplateData2/favicon.ico">
    <link rel="stylesheet" href="/assets/TemplateData2/style.css">
    <script src="/assets/TemplateData2/UnityProgress.js"></script>
    <script src="/Build2/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "/Build2/TanksDemo.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <h1>Tanks Pre-Alpha Test Demo</h1>
    <h3>Controls:</h3>
    <h4>Move - WSAD</h4>
    <h4>Shoot - Left Click</h4>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">Tanks</div>
      </div>
    </div>
  </body>
</html>
