.container-custom {
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}
.header-space {
	height: 100px;
}
.footer-space {
	height: 100px;
}
.flag {
	width: 80px;
	height: auto;
}
.search-field {
	margin-top: 10px;
	margin-bottom: 100px;
}
#criteria {
	border-radius: 5px;
	border: 1px solid gray;
}
#searchText {
	border-radius: 5px;
	border: 1px solid gray;
}
.blueBtn {
	border-radius: 5px;
	border: 1px solid gray;
	background-color: #0088aa;
	color: white;
}
.results {
	margin-top: 10px;
}
.yellowBtn {
	border-radius: 5px;
	border: 1px solid gray;
	background-color: #bc7000;
	color: white;
}
.flag-large {
	width: 150px;
	height: auto;
}
.all {
	display: block;
}
.specific {
	display: none;
	text-align: left;
}
.row {
	margin-top: 25px;
}
.col-4 {
	text-align: center;
}
.heading {
	display: inline;
}
.info-row {
	margin-top: 15px;
	width: 100%;
}
.title-row {
	margin-top: 15px;
	width: 100%;
}
.info-row tr {
	border-bottom: 1px solid #cccccc;
	width: 100%;
}
.col-left {
	text-align: left;
	font-weight: bold;
}
.col-right {
	text-align: right;
}
.small-field {
	margin-right: 5px;
	border-radius: 5px;
	border: 1px solid gray;
	width: 75px;
}
.map {
	height: 450px;
	width: 445px;
}
.show {
	display: block;
}
.hide {
	display: none;
}

